# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.js]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.tf]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
