name: JFrog XRay Scan (.NET)

# Use JFrog XRay to 'scan' any .nupkg package files in the artifact.
# The assumption is that inputs.artifact_name contains a set of
# *.nupkg files in the root of the artifact.

permissions:
  contents: read
  id-token: write
  packages: read

on:

  workflow_call:

    inputs:

      artifact_name:
        description: The GitHub artifact name which contains the package file.  The assumption is that the file is ready for publishing.
        required: true
        type: string

      jfrog_api_url:
        description: 'JFrog platform url (for example: https://rimdev.jfrog.io)'
        required: true
        type: string

      report_artifact_name:
        description: The GitHub artifact name for the report file.
        required: true
        type: string

      report_artifact_retention_days:
        required: false
        type: number
        default: 90

    secrets:

      jfrog_api_key:
        description: The secret API key needed in order to access the JFrog XRay API.  This assumes the JWT style token.
        required: true

    outputs:
      report_artifact_name:
        value: ${{ jobs.xray-scan.outputs.report_artifact_name }}

jobs:

  xray-scan:
    name: JFrog XRay Scan (.NET)
    runs-on: ubuntu-latest

    outputs:
      report_artifact_name: ${{ env.REPORTARTIFACTNAME }}

    env:
      ARTIFACTNAME: ${{ inputs.artifact_name }}
      CI: true
      REPORTARTIFACTNAME: ${{ inputs.report_artifact_name }}

    steps:

      - name: Validate secrets.jfrog_api_key
        uses: ritterim/public-github-actions/actions/regex-validator@v1.9.2
        with:
          regex_pattern: '^[A-Za-z0-9-_]*\.[A-Za-z0-9-_]*\.[A-Za-z0-9-_]*$'
          value: ${{ secrets.jfrog_api_key }}

      - name: Validate inputs.artifact_name
        uses: ritterim/public-github-actions/actions/file-name-validator@v1.9.2
        with:
          file_name: ${{ env.ARTIFACTNAME }}

      - name: Validate inputs.report_artifact_name
        uses: ritterim/public-github-actions/actions/file-name-validator@v1.9.2
        with:
          file_name: ${{ env.REPORTARTIFACTNAME }}

      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact_name }}

      - run: ls -la

      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_URL: ${{ inputs.jfrog_api_url }}
          JF_ACCESS_TOKEN: ${{ secrets.jfrog_api_key }}

      # Note: The 'ping' can succeed even if the API key is wrong/missing.
      - name: Check JFrog CLI version and server connection.
        run: |
          jf --version
          jf rt ping

      - name: jf scan
        run: |
          set -o pipefail
          jf scan --format=json --licenses "*.nupkg" | tee "${REPORTARTIFACTNAME}.json"

      - name: Report File
        run: cat "${REPORTARTIFACTNAME}.json"

      - name: Upload Artifacts
        id: upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.REPORTARTIFACTNAME }}
          path: ${{ env.REPORTARTIFACTNAME }}.json
          retention-days: ${{ inputs.report_artifact_retention_days }}
          if-no-files-found: error
