name: Publish (.NET)

# Performs only the 'dotnet publish'.

permissions:
  contents: read
  packages: read

on:

  workflow_call:

    inputs:

      artifact_name:
        required: true
        type: string

      artifact_retention_days:
        required: false
        type: number
        default: 90

      configuration:
        required: false
        type: string
        default: "Release"

      dotnet_version:
        required: false
        type: string
        default: "6.0"

      persisted_workspace_artifact_name:
        description: Name of the artifact which contains the persisted workspace directory.
        required: true
        type: string

      project_directory:
        required: false
        type: string
        default: "./"

      publish_working_directory:
        description: The directory where the 'dotnet publish' command should be run.  This is going to be the folder containing the Host/API main project.
        required: true
        type: string

      informational_version:
        required: true
        type: string

      version:
        required: true
        type: string

    outputs:

      artifact_name:
        value: ${{ jobs.publish.outputs.artifact_name }}

      artifact_filename:
        value: ${{ jobs.publish.outputs.artifact_filename }}

jobs:

  publish:
    name: Publish (.NET)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.project_directory }}

    outputs:
      artifact_name: ${{ inputs.artifact_name }}
      artifact_filename: ${{ env.ZIPFILENAME }}

    env:
      ARTIFACTNAME: ${{ inputs.artifact_name }}
      CONFIGURATION: ${{ inputs.configuration }}
      NUGETHASHFILES: "${{ inputs.project_directory }}**/*.csproj"
      PROJECTDIRECTORY: ${{ inputs.project_directory }}
      PUBLISH_WORKING_DIRECTORY: ${{ inputs.publish_working_directory }}
      PUBLISHARTIFACTDIRECTORY: app/
      INFORMATIONALVERSION: ${{ inputs.informational_version }}
      VERSION: ${{ inputs.version }}
      ZIPFILENAME: "${{ inputs.artifact_name }}.zip"

    steps:

      - name: Validate inputs.artifact_name
        uses: ritterim/public-github-actions/actions/file-name-validator@v1.15.0
        with:
          file_name: ${{ env.ARTIFACTNAME }}

      - name: Validate inputs.configuration
        uses: ritterim/public-github-actions/actions/regex-validator@v1.15.0
        with:
          case_sensitive: false
          regex_pattern: "^debug|release$"
          value: ${{ env.CONFIGURATION }}

      - name: Validate inputs.project_directory
        uses: ritterim/public-github-actions/actions/path-name-validator@v1.15.0
        with:
          path_name: ${{ env.PROJECTDIRECTORY }}

      - name: Validate inputs.publish_working_directory
        uses: ritterim/public-github-actions/actions/path-name-validator@v1.15.0
        with:
          path_name: ${{ env.PUBLISH_WORKING_DIRECTORY }}

      - name: Validate inputs.informational_version
        uses: ritterim/public-github-actions/actions/version-number-validator@v1.15.0
        with:
          version: ${{ env.INFORMATIONALVERSION }}

      - name: Validate inputs.version
        uses: ritterim/public-github-actions/actions/version-number-validator@v1.15.0
        with:
          version: ${{ env.VERSION }}

      - name: Validate PUBLISHARTIFACTDIRECTORY
        uses: ritterim/public-github-actions/actions/path-name-validator@v1.15.0
        with:
          path_name: ${{ env.PUBLISHARTIFACTDIRECTORY }}

      - name: Validate ZIPFILENAME
        uses: ritterim/public-github-actions/actions/file-name-validator@v1.15.0
        with:
          file_name: ${{ env.ZIPFILENAME }}

      - name: github context debug information
        working-directory: ./
        run: |
          echo "github.base_ref=${{ github.base_ref }}"
          echo "github.head_ref=${{ github.head_ref }}"
          echo "github.ref=${{ github.ref }}"
          echo "github.ref_name=${{ github.ref_name }}"
          echo "github.repository=${{ github.repository }}"
          echo "github.repository_owner=${{ github.repository_owner }}"
          echo "github.run_id=${{ github.run_id }}"
          echo "github.run_number=${{ github.run_number }}"
          echo "github.run_attempt=${{ github.run_attempt }}"
          echo "github.sha=${{ github.sha }}"

      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Restore Workspace
        uses: ritterim/public-github-actions/forks/persist-workspace@v1.9.2
        with:
          action: retrieve
          artifact_name: ${{ inputs.persisted_workspace_artifact_name }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet_version }}
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Setup ~/.nuget/packages cache
        uses: actions/cache@v3
        with:
          key: nuget-packages-${{ runner.os }}-${{ hashFiles(env.NUGETHASHFILES) }}
          path: |
            ~/.nuget/packages

      - run: dotnet nuget list source

      - name: mkdir -p $PUBLISHARTIFACTDIRECTORY
        working-directory: ${{ inputs.publish_working_directory }}
        run: mkdir -p "${PUBLISHARTIFACTDIRECTORY}"

      - name: dotnet publish
        working-directory: ${{ inputs.publish_working_directory }}
        run: |
          dotnet publish \
            --no-build \
            --configuration "${CONFIGURATION}" \
            -p:Version="${VERSION}" \
            -p:InformationalVersion="${INFORMATIONALVERSION}" \
            --property:PublishDir="${PUBLISHARTIFACTDIRECTORY}"

      - name: Create githash.txt file
        working-directory: ${{ inputs.publish_working_directory }}
        run: |
          PULL_REQUEST_HEAD_SHA=${{ github.event.pull_request.head.sha }}
          GH_SHA="${PULL_REQUEST_HEAD_SHA:-${GITHUB_SHA:-ERROR}}"
          echo $GH_SHA > "${PUBLISHARTIFACTDIRECTORY}githash.txt"
          cat "${PUBLISHARTIFACTDIRECTORY}githash.txt"

      - name: Create version.json file
        working-directory: ${{ inputs.publish_working_directory }}
        run: |
          BUILDDATE=$(date -u -Idate)
          echo "BUILDDATE=$BUILDDATE"
          BUILDTIMESTAMP=$(date -u -Iseconds)
          echo "BUILDTIMESTAMP=$BUILDTIMESTAMP"
          PULL_REQUEST_HEAD_SHA=${{ github.event.pull_request.head.sha }}
          GH_SHA="${PULL_REQUEST_HEAD_SHA:-${GITHUB_SHA:-ERROR}}"
          echo "GH_SHA=$GH_SHA"
          BODY=$(jq --null-input \
            --arg buildDate "$BUILDDATE" \
            --arg buildTimestamp "$BUILDTIMESTAMP" \
            --arg gitHash "$GH_SHA" \
            --arg informationalVersion "$INFORMATIONALVERSION" \
            --arg version "$VERSION" \
            '{"buildDate": $buildDate, "buildTimestamp": $buildTimestamp, "gitHash": $gitHash, "informationalVersion": $informationalVersion, "version": $version}' \
            )
          mkdir -p "${PUBLISHARTIFACTDIRECTORY}_version"
          echo "$BODY" > "${PUBLISHARTIFACTDIRECTORY}version.json"
          cat "${PUBLISHARTIFACTDIRECTORY}version.json"

      - name: ls -lR $PUBLISHARTIFACTDIRECTORY
        working-directory: ${{ inputs.publish_working_directory }}
        run: ls -lR "${PUBLISHARTIFACTDIRECTORY}"

      - run: mkdir -p 'output'
        working-directory: ${{ inputs.publish_working_directory }}

      - name: Create Release Zip File
        working-directory: "${{ inputs.publish_working_directory }}${{ env.PUBLISHARTIFACTDIRECTORY }}"
        run: |
          zip -v -r \
            "../output/${ZIPFILENAME}" \
            .

      - run: ls -lt output/*.zip
        working-directory: ${{ inputs.publish_working_directory }}

      - name: Test Release Zip File
        working-directory: ${{ inputs.publish_working_directory }}
        run: zip -T "output/${ZIPFILENAME}"

      - name: Upload Artifact for Deployment
        id: upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.artifact_name }}
          path: "${{ inputs.publish_working_directory }}output/${{ env.ZIPFILENAME }}"
          retention-days: ${{ inputs.artifact_retention_days }}
          if-no-files-found: error
